footer {
  border-top: 1px solid #134150;
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.copyright {
  color: rgb(240, 240, 240);
  font-size: 12px;
}

.footerlinks h3 {
  margin: 20px;
}

.flex-center-all img {
  height: 40px;
  margin: 0px 6px 20px 6px;
}

.instructionbox {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
