.SubmitButton a {
  color: #fff;
  text-decoration: underline;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.SubmitButton a:hover {
  color: rgb(191, 220, 225);
  text-decoration: underline;
}

.modalbutton {
  background-color: rgba(0, 0, 0, 0.85) !important;
  color: #fff !important;
}

.modalbutton:hover {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.textfieldbox {
  width: 100% !important;
}

#statsModal {
  height: 600px;
  width: 750px;
  background-color: white;
}
