.taskBar {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(187, 25, 25);
  border-radius: 4px;
  padding: 20px;
  width: calc(1em + 80vw);
  background-color: rgb(218, 74, 74);
  box-shadow: 0 3px 6px rgba(12, 12, 12, 0.4);
  border-radius: 30px 30px 30px 30px;
  width: 760px;
  margin: auto;
}

.taskBar input {
  width: 700px; /* 100%; */
  text-align: center !important;
  color: white;
}

.addtaskbtn {
  width: 200px;
  margin: 10px auto !important;
}

button {
  background-color: #202b33 !important;
  border: solid 1px transparent !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
  color: #ffffff !important;
  font-size: 16px !important;
  margin: 0 5px !important;
  cursor: pointer !important;
}

.listitem {
  /* background-color: ivory; */
  width: 100%;
  color: white;
}

/* ==== FOOTER ==== */

footer {
  border-top: 1px solid #134150;
  margin: 50px 0px 30px 0px;
  text-align: center;
}

.copyright {
  color: rgb(191, 191, 191);
  font-size: 12px;
}

.footerlinks h3 {
  margin: 20px;
}

.flex-center-all img {
  height: 40px;
  margin: 0px 6px 20px 6px;
}

/* ===== MOBILE STYLES ===== */

@media only screen and (max-width: 750px) {
  .contentContainer {
    margin-top: 0;
  }

  #appbarStyles {
    height: 80px;
  }
  .timer {
    width: 100%;
    padding-top: 35px;
    height: 320px;
  }

  .outside-box {
    margin: 0;
  }

  #logo {
    margin-left: 10px;
    margin-top: 8px;
  }

  #logo > img {
    height: 40px;
  }

  .settingsIcon,
  .signupIcon {
    margin-right: 0px;
  }

  .settingsTitle,
  .signupTitle {
    display: none;
  }

  .lowerbox {
    height: 150px;
  }

  .instructions p {
    width: 95%;
    line-height: 1.8em;
  }

  .Countdown-time2 {
    font-size: calc(0.9em + 2vw) !important;
  }

  .taskBar {
    width: 85%;
  }

  .taskBar input {
    width: 100%;
    text-align: center !important;
  }

  .MuiFormControl-root {
    width: 100%;
  }
}
