/* ===== MOBILE STYLES ===== */

@media only screen and (max-width: 750px) {
  .contentContainer {
    margin-top: 0;
  }

  #appbarStyles {
    height: 80px;
  }
  .timer {
    width: 100%;
    padding-top: 35px;
    height: 320px;
  }

  .outside-box {
    margin: 0;
  }

  #logo {
    margin-left: 10px;
    margin-top: 8px;
  }

  #logo > img {
    height: 40px;
  }

  .settingsIcon,
  .signupIcon {
    margin-right: 0px;
  }

  .settingsTitle,
  .signupTitle {
    display: none;
  }

  .lowerbox {
    height: 150px;
  }

  .instructions p {
    width: 95%;
    line-height: 1.8em;
  }

  .Countdown-time2 {
    font-size: calc(0.9em + 2vw) !important;
  }

  .taskBar {
    width: 85%;
  }

  .taskBar input {
    width: 100%;
    text-align: center !important;
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .Countdown button {
    padding: 6px 8px;
  }

  .Button-start {
    padding: 10px 20px !important;
  }

  .TaskSetting {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  .SubmitButton {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
}
