body {
    background-color: #01222C;
    margin: 0!important;
}

/* ====== LAYOUT ====== */

.navbar {
    height: 200px;
    padding-top: 20px;
}

.topLayer {
    background-image: url("../../images/whitebackground-color.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #fff;
}

@media only screen and (max-width: 900px) {
    .topLayer {
        background-size: auto;
    }
  }

.container {
    max-width: 800px;
    margin: auto;
}

.logo img {
    width: 30%;
}
.logo img:nth-child(2) {
    width: 10%;
}


.tasks h2 {
    padding: 20px 0px;
    border-bottom: 1px solid #01222C;
}

.taskbox {
    background-color: #7094BE;
    border-radius: 20px;
    border: 4px dashed #01222C;
}

.taskbox p {
    text-align: center;
    font-size: 26px;
}

.lowerbox {
    background-image: url("../../images/darktomatoes.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-color: #fff;
}

.instructions {
    color: #fff;
    margin: auto;
    width: 700px;
}